version: "3.8"

services:
  api:
    container_name: api
    build: .
    ports:
      - "80:3000"
    networks:
      - api
    depends_on:
      - postgres
      - redis

  postgres:
    container_name: postgres
    image: postgres:14-alpine
    environment:
      - POSTGRES_DB=book
      - POSTGRES_USER=book
      - POSTGRES_PASSWORD=bookpassword
    networks:
      - api
  
  redis:
    container_name: redis
    image: redis:7-alpine
    networks:
      - api


networks:
  api:
    driver: bridge